<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About TWElections </h1>
    <p> Sitio donde se visualizan los twits en tiempo real de los senadores de la nación Argentina</p>

    {% endblock %}
  </body>
</html>