{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg">
      <form name="form" action="/" class="row text-center" method="post">
        <div class="col">
          <input
            type="text"
            name="url"
            class="form-control"
            placeholder="Enter URL"
          />
        </div>
        <div class="col-auto px-1">
          <button type="submit" class="col-auto btn btn-primary">
            Shorten!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% if get_user_url %} {% for short in get_user_url %}
      <ul class="list-group">
        <li class="list-group-item">
          <div id="textbox">
            <a class="alignleft">{{ short[0] }}</a>
            <a href="{{ short[1] }}" class="alignright" >{{ short[1] }}</a>
            <!-- <button onclick="myFunction()" class="col-auto btn btn-primary alignright" >Copy</button> -->
          </div>
        </li>

        {% endfor %} {% endif %}
      </ul>
    </div>
  </div>
</div>
<!--
<script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    document.execCommand("copy");
  }
</script> -->
{%endblock %}
